---
layout: default
---
<section class="main-section">
  <div class="row">
 
    <aside class="large-3 columns">
      <div class="panel">
        <h5>Criteria</h5>
        <ol>

         {% for criteria in site.criteria %}
              <li><a href="#criteria-{{ criteria.id }}" title="View criteria {{ criteria.id }}">{{ criteria.title }}</a></li>
         {% endfor %}

         </ol>
      </div>
    </aside>

    <div class="large-9 columns">
      <div id="criteria" class="criteria outer-container">

        {% for criteria in site.criteria %}
          <div class="criteria inner-container">
            <a id="criteria-{{ criteria.id }}"></a>
            <h5>Criteria {{ criteria.id }}</h5>
            <h2>{{ criteria.title }}</h2>
            {{ criteria.output }}
          </div>
        {% endfor %}

      </div>
    </div>
 
  </div>
</section>

